.menu-cards
  .menu-card
    img.card-image(src="./img/foods/1.jpg", alt="img:rolls")
    .card-text
      .card-title
        h3.menu-title Ролл угорь стандарт
        p.card-description Рис, угорь, соус унаги, кунжут, водоросли нори.
      .card-bottom
        include ../buttons/blue-basket.pug
        span.card-price 250 ₽ 
        

  .menu-card
    img.card-image(src="./img/foods/2.jpg", alt="img:rolls")
    .card-text
      .card-title
        h3.menu-title Ролл угорь стандарт
        p.card-description Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.
      .card-bottom
        include ../buttons/blue-basket.pug
        span.card-price 395 ₽ 

  .menu-card
    img.card-image(src="./img/foods/3.jpg", alt="img:rolls")
    .card-text
      .card-title
        h3.menu-title Окинава стандарт
        p.card-description  Рис, креветка отварная, сыр сливочный, лосось, огурец свежий...
      .card-bottom
        include ../buttons/blue-basket.pug
        span.card-price 250 ₽ 

  .menu-card
    img.card-image(src="./img/foods/4.jpg", alt="img:rolls")
    .card-text
      .card-title
        h3.menu-title Цезарь маки хl
        p.card-description Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус цезарь...
      .card-bottom
        include ../buttons/blue-basket.pug
        span.card-price 250 ₽ 

  .menu-card
    img.card-image(src="./img/foods/5.jpg", alt="img:rolls")
    .card-text
      .card-title
        h3.menu-title Ясай маки стандарт 185 г
        p.card-description Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг
      .card-bottom
        include ../buttons/blue-basket.pug
        span.card-price 250 ₽ 
        
  .menu-card
    img.card-image(src="./img/foods/6.jpg", alt="img:rolls")
    .card-text
      .card-title
        h3.menu-title Ролл с креветкой стандарт
        p.card-description Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы
      .card-bottom
        include ../buttons/blue-basket.pug
        span.card-price 250 ₽ 