.modal
  .modal-dialog
    .modal-top
      h2.modal-title Корзина
      svg.exit-icon(width="26" height="26")
        use(xlink:href="./img/icons.svg#exit")
    .modal-body
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +   
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +     
    .modal-footer
      span.price-tag 
        strong 1250 ₽
      .footer-buttons
        button.order-button Оформить заказ
        button.cancel-button Отмена