.rest-cards
  .rest-card
    img.card-image(src="./img/rests/1.jpg", alt="img:pizza+")
    .card-text
      .card-title
        h3 Пицца плюс
        span.card-tag.tag 50 мин
      .card-info
        .rating
          svg.rating-icon(width="15" height="15")
            use(xlink:href="./img/icons.svg#star")
          span.value 4.5
        .price От 900 ₽
        .category Пицца

  .rest-card
    img.card-image(src="./img/rests/2.jpg", alt="img:tanooki")
    .card-text
      .card-title
        h3 Тануки
        span.card-tag.tag 50 мин
      .card-info
        .rating
          svg.rating-icon(width="15" height="15")
            use(xlink:href="./img/icons.svg#star")
          span.value 4.5
        .price От 900 ₽
        .category Пицца

  .rest-card
    img.card-image(src="./img/rests/3.jpg", alt="img:foodband")
    .card-text
      .card-title
        h3 FoodBand
        span.card-tag.tag 50 мин
      .card-info
        .rating
          svg.rating-icon(width="15" height="15")
            use(xlink:href="./img/icons.svg#star")
          span.value 4.5
        .price От 900 ₽
        .category Пицца

  .rest-card
    img.card-image(src="./img/rests/4.jpg", alt="img:jelaouspizza")
    .card-text
      .card-title
        h3 Жадина-пицца
        span.card-tag.tag 50 мин
      .card-info
        .rating
          svg.rating-icon(width="15" height="15")
            use(xlink:href="./img/icons.svg#star")
          span.value 4.5
        .price От 900 ₽
        .category Пицца

  .rest-card
    img.card-image(src="./img/rests/5.jpg", alt="img:foodspot")
    .card-text
      .card-title
        h3 Точка еды
        span.card-tag.tag 50 мин
      .card-info
        .rating
          svg.rating-icon(width="15" height="15")
            use(xlink:href="./img/icons.svg#star")
          span.value 4.5
        .price От 900 ₽
        .category Пицца
        
  .rest-card
    img.card-image(src="./img/rests/6.jpg", alt="img:pizzaburger")
    .card-text
      .card-title
        h3 PizzaBurger
        span.card-tag.tag 50 мин
      .card-info
        .rating
          svg.rating-icon(width="15" height="15")
            use(xlink:href="./img/icons.svg#star")
          span.value 4.5
        .price От 900 ₽
        .category Пицца