.container
  footer.footer
    nav.footer-nav
      a(href="#")
        svg.logo(width="101" height="37")
          use(xlink:href="./img/icons.svg#logo")
      ul.nav-list
        li.nav-item
          a.nav-link(href="#") Ресторанам
        li.nav-item
          a.nav-link(href="#") Курьерам
        li.nav-item
          a.nav-link(href="#") Пресс-центрам
        li.nav-item
          a.nav-link(href="#") Контакты
    .social-links
      a(href="#")
        img.social-icon(src="./img/icons/instagram.svg")
      a(href="#")
        svg.social-icon(width="26" height="26")
          use(xlink:href="./img/icons.svg#facebook")
      a(href="#")
        svg.social-icon(width="36" height="21")
          use(xlink:href="./img/icons.svg#vk")