.container 
    header.header
        svg.logo.animate__animated.animate__fadeInLeft.animate__delay-0.5s(width="101" height="37")
            use(xlink:href="./img/icons.svg#logo")
        input.search.search-address(type="text" placeholder="Адрес доставки")
        .buttons
            include ./buttons/login.pug
            include ./buttons/basket.pug
    
    