main.main
  .container
    section.promo
      h1.promo-title Онлайн-сервис<br>доставки еды на дом
      p.promo-text Блюда из любимого ресторана привезет<br>курьер в перчатках, маске и с антисептиком
    section.restaurants
      .rest-header  
        h2.rest-title Рестораны
        input.input.search-rest(type="text" placeholder="Поиск блюд и ресторанов")
      include ./main/cards.pug
      