<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./styles/restaurant.css", rel="stylesheet")
    title Delivery - Ресторан
  body
    include ./components/menu/modal.pug
    include ./components/header.pug
    include ./components/menu.pug
    include ./components/footer.pug